[2015-03-27 15:59] rlam3 opened #3 "Issue with time of expiration."
Hi,

I'm quite new to ios development.
I'm having a bit of trouble understanding how your isJWTExpired and expireDateOfJWT works.

My token looks like this:

eyJhbGciOiJIUzI1NiIsImV4cCI6MTQyNzQ2OTA4NSwiaWF0IjoxNDI3NDY4Nzg1fQ.eyJ1c2VyX2lkIjo0LCJuYmYiOjE0Mjc0ODY3ODIuMCwiZXhwIjoxNDI3NDg3MDgyLjB9.X1o75sv3-Iq4mk3gmHYysnkOS-CfRi4dOQ97fOq3I10

From what your code is saying, it is taking the exp from the

[2015-04-03 01:12] hzalaz commented on #3
It's not the incorrect time, its a matter of how the data is displayed. Try printing the value of the property `timeIntervalSince1970` in `exp2` and what the library returns and they should be the same.
The playground prints the value of this line:

[code]
using your Mac's timezone, but if you add this line:

[code]

you'll see it displayed in UTC

[2015-04-20 05:24] subinrevi opened #4 "Can we create a JWT encoded toke in our iOS app and embed it in QR code ?"

[2015-04-20 13:38] hzalaz commented on #4
@subinrevi this library is only for decoding the JWT payload (and also checking if its expired).
You can use https://github.com/kylef/JSONWebToken.swift to generate a signed token.
It's been a while since I've used a lib to generate a QR Code but this was my library of choice https://github.com/TheLevelUp/ZXingObjC

[2015-04-21 10:43] subinrevi commented on #4
Hi, Thanks for your reply. Is there any Objective C implementation for generating JSON Web token ?

[2015-04-22 14:41] hzalaz commented on #4
I saw this library https://github.com/yourkarma/JWT but never really used it, I'd suggest using the one in my previous commit, at least build a Objc wrapper around it.

[2015-06-26 16:31] #4 closed

[2015-07-24 05:46] eliasbagley opened #6 "Failing to install via carthage"
Getting this error when I do a carthage update:

The following build commands failed:
	CompileSwift normal x86_64 /Carthage/Checkouts/JWTDecode.swift/JWTDecodeTests/JWTDecodeSpec.swift
	CompileSwiftSources normal x86_64 com.apple.xcode.tools.swift.compiler
(2 failures)

Other projects in the Cartfile install just fine

[2015-07-24 20:22] #6 closed

[2015-08-02 16:16] lifely opened #9 "Carthage fails"
Hello,

I was trying to use JWTDecode in a swift project today. Unfortunately i'm having issue installing it using carthage.

using the following line in a newly create `Cartfile` file :

[code]

I don't really know what's the issue if it's carthage or this project configuration.

[2015-08-03 18:56] hzalaz commented on #9
Seems to be a Carthage issue and it's working for me

<img width="762" alt="screenshot 2015-08-03 15 54 43" src="https://cloud.githubusercontent.com/assets/895992/9045217/18915132-39f8-11e5-83ee-87054a835c59.png">

Did it only fail with JWTDecode?

Also, try cleaning up Carthage cache with this command `rm -rf ~/Library/Caches/org.carthage.CarthageKit` and then run `carthage update`

[2015-08-21 15:14] blakebyrnes opened #10 "Can this target 8.0 instead of 8.3?"
When I build, I'm getting an error that JWTDecode targets 8.3.  Thanks!

[2015-08-21 20:40] hzalaz commented on #10
If you build with the latest stable Xcode version it should compile without issues. What version are you using?

[2015-08-21 20:41] blakebyrnes commented on #10
Oh, strange.  Ok.  Maybe Carthage is somehow automatically getting that 8.3 from somewhere else?  My Cartfile.resolved lists 0.3.1.

[2015-08-21 20:45] hzalaz commented on #10
The SDK version is obtained from the installed version of Xcode in your Mac.
Try running `xcodebuild -version` in the CLI

[2015-08-21 20:48] blakebyrnes commented on #10
I’m on 6.4.  Didn’t realize that was what you were asking. Here’s what it’s telling me: Module file's minimum deployment target is ios8.3 v8.3: /Users/.../Carthage/Build/iOS/JWTDecode.framework/Modules/JWTDecode.swiftmodule/arm.swiftmodule

[2015-08-21 20:50] hzalaz commented on #10
ok, will decrease the deployment target

[2015-08-21 20:56] blakebyrnes commented on #10
Thanks!

[2015-08-21 20:56] #10 closed

[2015-08-21 21:02] hzalaz commented on #10
Version [0.3.2](https://github.com/auth0/JWTDecode.swift/releases/tag/0.3.2) now targets 8.0+

[2015-09-10 12:17] kostiakoval opened #11 "Swift 2.0 Xcode 7GM build error"

[2015-09-21 22:02] hzalaz commented on #11
Should be fixed in [1.0.0](/releases/tag/1.0.0)

[2015-09-21 22:02] #11 closed

[2015-09-21 22:04] hzalaz commented on #9
Closing this, please reopen if still failing

[2015-09-21 22:04] #9 closed

[2015-10-12 16:05] piercifani opened #13 "Easy way to persist token"
Right now, in order to persist the JWT, you have to persist the String that originated it, when you ideally, you could either:

1.- Obtain the JWT string that originated the JWT and persist that
2.- Add `NSCoding` compliance to the `JTW` protocol

I'm more inclined to option number 1, since that means keeping the `JTW` protocol purely Swift (no `NSObjectProtocol` cruft) and leaves completely to th

[2015-10-14 11:40] admeister opened #14 "Enable "Require Only App-Extension-Safe API" to remove warning linking against dylib in application extensions"
Can the "Require Only App-Extension-Safe API" flag be enabled to stop the warning "linking against dylib not safe for use in application extensions" when referencing JWTDecode framework in an extension.

[2015-11-15 20:38] bonroyage opened #15 "Expiry date is nil"
Hi,

After decoding any JWT token, I would always get a `nil` value for `expiresAt` and `false` for `expired`. I managed to make it work by changing two lines of code.

[code]

I am unsure whether or not I am doing something wrong in the decoding process, but my code looks something like:
[code]

Cheers.

[2015-11-16 12:59] hzalaz commented on #15
@bonroyage can you post the base64 payload of a token that yields the `exp` as nil? (the payload is the middle part of the JWT base64)

[2015-11-16 16:33] bonroyage commented on #15
Here's the entire token, the object (from `decode(token)`), the expiry date `jwt.expiresAt` and whether it's expired `jwt.expired`:

- **Token** `eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiI1NWI2NDJiNDhiODIyNjI1N2FkNWUyZTIiLCJpc3MiOiJodHRwOlwvXC8xMjcuMC4wLjFcL2p3dCIsImlhdCI6IjE0NDc2OTA5MTciLCJleHAiOiIxNDQ3Njk0NTE3IiwibmJmIjoiMTQ0NzY5MDkxNyIsImp0aSI6ImVjYzQ0Y2M1NGNjZmNjOTQ4M2NlNmEwM2VhYzRjYzNkI

[2015-11-16 16:35] hzalaz commented on #15
@bonroyage Swift 2.0 or Swift 2.1?

[2015-11-16 16:36] bonroyage commented on #15
Swift 2.1

[2015-11-19 19:16] elgs opened #16 "Module file was created by an older version of the compiler"
I built this lib using carthage. My Cartfile look like this:

`github "auth0/JWTDecode.swift"`

When I include `import JWTDecode` in my code, it shows the following error message:

[code]

[2015-11-19 19:59] hzalaz commented on #16
@elgs that's because it was compiled with an older version of Xcode and you are using a newer version. This is because swift provides no ABI compatibility so you will get this error frequently unless we replace all binaries in releases whenever a new Xcode version is out. I'd recommend running carthage with `--no-use-binaries` to avoid using any precompiled framework and compile them in your local

[2015-11-19 19:59] #16 closed

[2015-11-19 20:13] elgs commented on #16
Thanks. @hzalaz

[2015-11-20 09:04] elgs commented on #16
It doesn't matter if you keep the precompiled framework or not if you put the `--no-use-binaries` in the `README.md`. That would be very helpful.

[2015-11-20 09:13] elgs opened #17 "Is this valid swift code `let jwt = try decode(token)`?"
When I put this line `let jwt = try decode(token)` in my code, it doesn't compile. Is it valid Swift code?

[2015-11-20 09:21] elgs commented on #17
It works when being wrapped inside a do catch block.

[2015-11-20 09:21] #17 closed

[2015-11-23 17:41] eeschimosu opened #18 "Error when using Swift 2.1 at line 108 in JWTDecode.swift"
Error when using Swift 2.1 at line 108 in JWTDecode.swift
[code]
For the parameter `options:` in `return NSJSONSerialization.JSONObjectWithData(data, options: .allZeros, error: error) as? [String: AnyObject]` there is no argument: `.allZeros`

[2015-11-25 14:38] hzalaz commented on #18
@eeschimosu can you try using the latest version? I think you are using a version pre 1.0

[2015-11-25 16:01] #13 closed

[2015-11-25 16:22] #14 closed

[2015-11-25 17:17] hzalaz commented on #15
@bonroyage the value of the `exp` claim should be a integer not a string value (the same goes for `nbf`, `iat`), your are building the offending tokens yourself or you got those from another source (e.g. Auth0 or another service)?

[2015-11-25 20:29] bonroyage commented on #15
I am using this library for Laravel https://github.com/tymondesigns/jwt-auth. After testing the code, I can confirm that it uses strings. I could open an issue in that repo and ask them to change it to integers. Or would it be possible for you to force cast them as Doubles so any other package that happens to use strings also works.

[2015-11-25 20:32] hzalaz commented on #15
@bonroyage the [spec](https://tools.ietf.org/html/rfc7519) defines them as numbers so even if I could hack for string values, I'd prefer to stick to it.

[2015-11-25 20:37] bonroyage commented on #15
Alright, I'll PR the PHP package. Thanks for the help!

[2015-11-25 20:37] #15 closed

[2015-12-08 11:22] tobiasedwards opened #21 "Releases link 404"
The Releases link in the README (https://github.com/auth0/JWTDecode.swift/blob/master/releases) returns a 404.

[2016-01-11 08:35] avnerbarr opened #22 "[Question] Validation of the JWT using a key"
Is it possible to validate the signature of the JWT using my RSA public key on the device?

https://jwt.io/

RSA(
  base64UrlEncode(header) + "." +
  base64UrlEncode(payload),

secret

[2016-04-05 18:38] mottihoresh opened #23 "Expiration date is not being parsed when the value comes as a string"
Token:
eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXUyJ9.eyJzdWIiOiJ4eHh4QHh4eHh4LmNvbSIsImlzcyI6Imh0dHBzOi8veHh4eHh4bnVtYmVycyIsImlhdCI6IjE0NTk4NzAyNzQiLCJleHAiOiIxNDU5ODcyMDc0IiwibmJmIjoiMTQ1OTg3MDI3NCIsImp0aSI6IjQ2ODA5YTYwNzQzMmU5ZDcwMmYwMWQ0MWQ2Y2FmMjNmIn0.fiA0lVKpUMkt48MGZ4J857V6hgDymJjtlx36oUm2W5s

["nbf": 1459870274, "exp": 1459872074, "iss": https://xxxxxx/numbers, "jti": 46809a607432e9d702f01d41d6caf2

[2016-04-05 18:48] hzalaz commented on #23
@mottihoresh I think the jwt RFC states that it should be a numeric value

[2016-04-05 18:59] mottihoresh commented on #23
@hzalaz yea that would make the most sense, I am using php for my backend, when using the json_encode it convert everything to a string.

I'm just getting into iOS development so by no means I really know what I do :) but this seems to solve the "problem"

`guard let timestamp:Double = claim(name) else {
            if let timestamp:String = claim(name) {
                return NSDate(timeInterval

[2016-04-05 19:05] hzalaz commented on #22
@avnerbarr no, this library only decodes the token.

[2016-04-05 19:06] hzalaz commented on #23
I know but I am not too keen to do that since it should be a numeric value not a string

[2016-04-05 19:07] mottihoresh commented on #23
Gotcha are you aware of any workarounds?

[2016-04-05 19:09] hzalaz commented on #23
Sorry, I am not too familiar with php

[2016-04-19 17:40] #21 closed

[2016-04-19 17:40] hzalaz commented on #18
should be fixed in the latest releases.

[2016-04-19 17:40] #18 closed

[2016-04-19 17:40] #22 closed

[2016-04-20 02:47] davidthornton commented on #21
Ahahahahaha code burn

[2016-06-02 22:22] rlam3 commented on #3
@hzalaz I'm having trouble with the ".expired" part with after decoding the token. i'm getting a mismatch between what the server is sending out and what swift code is interpreting the "exp" as. Could you please explain how the ".expired" attribute works? Thanks!

[2016-06-30 00:15] VDKA opened #26 "JWTDecode.framework.zip Release out of date"
On Release tag 1.0.0 the prebuilt framework for Carthage is out of date. Looks as if it was compiled for a previous Swift version.

[2016-06-30 00:18] hzalaz commented on #26
Since Swift is not ABI compat its a never ending task to keep them up to date. I'll remove it but you should not rely on them for any library till we reach that point.

[2016-06-30 00:18] #26 closed

[2016-07-18 19:43] treyrich opened #27 "Swift 3 Support"
Would be great for testing if this library could be updated to support swift 3.

[2016-08-04 06:39] vfn opened #31 "Swift 2.3 support"
I'll be crating a pull request soon with the necessary changes to make this lib to support Xcode 8 and Swift 2.3. The changes do not affect Xcode 7 and Swift 2.2

[2016-08-17 04:04] vfn commented on #31
Swift 2.3 support added via PR https://github.com/auth0/JWTDecode.swift/pull/34

[2016-08-17 04:04] #31 closed

[2016-08-17 13:59] #23 closed

[2016-08-24 14:17] antonioreyna opened #37 "arm64 problem"
Hello, I started to get this error:

[code]

I dont know why?

[2016-08-24 14:20] antonioreyna commented on #37
the problem happens when i try to run it for device

[2016-08-24 14:55] minamichel17 commented on #17
do
           {
            let jwt = try decode(me!["refreshToken"] as! String)
            print("JWT",jwt.expiresAt)

            }
            catch let error as NSError {
             error.localizedDescription
            }

[2016-08-24 16:12] hzalaz commented on #3
It's just a timestamp and that's how it's handled, and how it explained before. The value of `exp` a numeric value, is the number of seconds since 1970 so we are using `NSDate(timeIntervalSince1970: expValue)` to get a date object. Not sure what mismatch you are talking about, possibly as I said before, it is a Tz issue and how you print the dates but if you compare them as timestamp they should b

[2016-08-24 16:12] #3 closed

[2016-08-24 16:14] hzalaz commented on #37
I can't do much with that little info, can you build a sample project so I can take a look? Or at least detail how you added the library, the dependency management tool you used, etc.

[2016-08-24 16:16] hzalaz commented on #27
Till swift 3 is released the branch [feature-swift-3](https://github.com/auth0/JWTDecode.swift/tree/feature-swift-3) will have the swift 3 combat codebase

[2016-08-24 16:39] antonioreyna commented on #37
I added the library using cocoapods `pod 'JWTDecode', '~> 1.0'`, and i noticed the problem right after i added another library the pod 'GoogleIDFASupport'

[2016-08-25 01:06] antonioreyna commented on #37
Hello, the problem was the Derived Data directory i had to clean it manually and recompile, now its working. thanks!

[2016-08-25 01:06] #37 closed

[2016-09-12 19:37] bradfol commented on #27
Plans to release a new version for Swift 3 now that we have Xcode 8 GM?

[2016-09-14 22:29] #27 closed

[2016-09-20 15:49] carlhunterroach opened #38 "Swift 2.x"
Which previous version do you recommend for those who are immediately moving to Swift 3.0?

[2016-09-20 16:09] hzalaz commented on #38
Not sure I understand your question but https://github.com/auth0/JWTDecode.swift/releases/tag/2.0.0 is for Swift 3
and https://github.com/auth0/JWTDecode.swift/releases/tag/1.2.0 for Swift 2.3 as the changelog specifies.

If you move to swift 3 immediately you can use 2.0.0 directly after migrating

[2016-09-20 16:09] #38 closed

[2016-09-20 16:47] carlhunterroach commented on #38
Thanks. I'll try v1.2.0 as my project has dependencies that don't yet support Swift 3.0
Do you know if Auth0 has dropped support for Swift 2.x?

[2016-09-21 15:31] eightamrock opened #39 "Pod is not Swift 3 compliant"
This pod is not compiling for me using swift 3. Its noting a tremendous number of swift 3 errors. Notably lots of public to open declarations on extendable class methods.

Is anyone else having this issue?

[2016-09-21 17:07] hzalaz commented on #39
What version of the lib are you using?

[2016-09-21 17:12] eightamrock commented on #39
Attempting to use 2.0.0.

[2016-09-21 17:17] hzalaz commented on #39
@eightamrock are you sure? just tried and complies. Can you provide a sample where I can reproduce  those compile errors? (or Podfile & Podfile.lock or Cartfile & Cartfile.resolved)

[2016-09-21 19:20] eightamrock commented on #39
Pod and lock attached. I just started a brand new project in xcode 8, setup JWTDecode as a pod, installed it and it gave me the same errors.

[pod.zip](https://github.com/auth0/JWTDecode.swift/files/485852/pod.zip)

[2016-09-21 19:46] hzalaz commented on #39
@eightamrock Can you send me a link to that project?. Did the same and works for me

[2016-09-21 20:22] eightamrock commented on #39
https://github.com/eightamrock/test-ios-project

The build fails.  When you try update to swift 3.0, it gives JWTDecode a lot of errors. I tried setting use legacy to true for the framework, and it didnt help either. Ive done this on 2 different computers now, so I must be doing something wrong if you are getting it to compile.

<img width="254" alt="screen shot 2016-09-21 at 4 18 05 pm" src="http

[2016-09-26 13:08] eightamrock commented on #39
Any thoughts on this? I've successfully reverted to Swift 2.3 using JWTDecode 1.2 and everything compiles without issue. I can't get swift 3.0 to compile with JWTDecode 2.0.

[2016-09-26 13:20] hzalaz commented on #39
JWTDecode 2.0.0 is Swift 3 compatible. Your Xcode project did not specify which Swift version to use with the settings `Use Legacy Swift Language Version`.
Xcode migration tool will probably help you transition properly to Swift 3 and I'd use the latest rc of CocoaPods since they had some issues when figuring out what Swift version to use.

[2016-09-26 13:20] #39 closed

[2016-11-02 16:52] Mapamatician opened #40 "Check for invalid token?"
Would it be possible to listen for jwt.invalid on Swift?

Maybe there is a better way but here is the problem I'm trying to solve:

In my Laravel (5.3) application I am trying to log the iOS user out.

Swift:
    @IBAction func logout(_ sender: UIButton) {
        print("hit logout")

        // need to call the token again
        let token: String! = KeychainWrapper.standard.string(forKey: "jwto

[2016-12-16 16:06] ali-hamad opened #41 "target 8.0 and swift 3"
Hi ,
is there any pod version that support "target 8.0 and swift 3"

[2016-12-16 17:10] cocojoe commented on #41
The current [Podspec](https://github.com/auth0/JWTDecode.swift/blob/master/JWTDecode.podspec), states a minimum iOS Deployment of 8.0.
**s.ios.deployment_target = '8.0'**

[2016-12-16 19:40] ali-hamad commented on #41
thanks for the note :P
i was using an older version that supports 8.3+

[2016-12-16 19:40] #41 closed

[2017-01-11 21:59] hzalaz commented on #40
@Mapamatician I'd say you need to listen to that error in the Alamofire callback, this library, sadly, won't help you with that. API tokens should be opaque to clients so I'd recommend not trying to decode them and just react when the request to the protected resource fails.

Not sure how you obtain the api token but e.g. OAuth also returns an `expires_in` attribute in the response that can be use

[2017-01-11 21:59] #40 closed

[2017-05-23 22:07] rlam3 opened #46 "why do we need to try?"
Why do we to try?

[code]

[2017-05-24 08:29] cocojoe commented on #46
decode can throw an error hence the try.
https://github.com/auth0/JWTDecode.swift/blob/master/JWTDecode/JWTDecode.swift#L35

I suggest you read up on the subject in general:
https://developer.apple.com/library/content/documentation/Swift/Conceptual/Swift_Programming_Language/ErrorHandling.html#//apple_ref/doc/uid/TP40014097-CH42-ID508

[2017-05-24 08:29] #46 closed

[2017-05-24 10:41] umosys opened #47 "EXC_BAD_ACCESS coming from base64UrlDecode function"
![screen shot 2017-05-24 at 8 33 23 pm](https://cloud.githubusercontent.com/assets/3169122/26399643/fdec4f68-40c0-11e7-80fc-7b28bc01b35b.png)

I got that when from this line in my code:
[code]

It's strange. This never happened before.

[2017-05-24 11:50] cocojoe commented on #47
1. Is this repeatable?

If so please provide a link to a vanilla project that demonstrates this.

Thanks

[2017-08-09 15:26] rudresha opened #48 "Support for Swift 2.1"
Hi ,
can you please provide version of lib that support swift 2.1 ? It would be of G8 help !

[2017-08-09 16:16] cocojoe commented on #48
Apple deprecated Swift <3 as of Xcode 8.3, it's recommended to upgrade to 3.x and soon this will be going up to 4.x with Xcode 9.

[2017-08-09 16:16] #48 closed

[2017-09-14 14:00] eskerber opened #49 "Swift 4 support"
Support for Swift 4 / Xcode 9, which has a GM release as of 9/12

[2017-09-14 14:26] cocojoe commented on #49
What is the actual issue you are facing?

It runs fine as a dependency added to an Xcode 9 / Swift 4 project.

In general terms we are going through our libs and will update in order of priority

[2017-09-14 14:51] cocojoe commented on #49
What is the actual issue you are facing?
It runs fine as a dependency, I just added it to an Xcode 9 / Swift 4 project.

In general terms we are going through our libs and will update in order of priority.

[2017-09-14 15:09] cocojoe commented on #47
Closing, lack of follow up information.

[2017-09-14 15:09] #47 closed

[2017-09-14 18:49] treyrich commented on #49
One specific issue is that this framework includes LLVM Instrumentation which is now causing rejections from Apple.

[2017-09-14 19:58] cocojoe commented on #49
Thanks, I had a look into this. https://github.com/Carthage/Carthage/issues/2056
Let me sort something out.

[2017-09-14 20:13] cocojoe commented on #49
@treyrich I updated and fixed in PR #50 please can you try out that branch and let me know thanks.

[2017-09-14 22:59] treyrich commented on #49
Yes, using the `changed-updated-xcode9-swift-3.2` branch iTunes Connect accepted the build, looks good to me.

[2017-09-27 16:06] cocojoe commented on #49
This is now covered in latest release https://github.com/auth0/JWTDecode.swift/releases/tag/2.1.0

[2017-09-27 16:06] #49 closed

[2017-09-28 16:22] dskibin opened #53 "Converting Payload to custom object"
Hi i have payload in following format:
[code]

and class for that:

[code]

i getting nil in this lines for person variable:

[code]

Thank you in advance!

[2017-09-29 10:33] cocojoe commented on #53
@dskibin What have you read that said this should work? 😄
If you want to initialise a class using this data, you could create a convenience init to do so, here is an example of how we hydrate a JSON response into a domain object in `Auth0.swift`.

https://github.com/auth0/Auth0.swift/blob/master/Auth0/Credentials.swift#L55

[2017-09-29 15:19] dskibin commented on #53
@cocojoe thank you for the answer )

solved it by following code:

[code]

[2017-09-29 15:19] #53 closed

[2017-10-26 18:00] chaseacton opened #58 "Add watchOS support"
Hi, please consider adding support for watchOS in the cocoapod.

[2017-11-16 17:50] rlam3 opened #59 "Can JWTDecode subclass Expirable? If so, how?"
https://github.com/AndrewSB/Expirable

This github has a great way for detecting if a JWT is soon to be expired as well as expiresAt.

Was wondering if it was able to be subclassed

[2017-12-26 10:00] mdoghri opened #60 "Warning: 'characters' is deprecated in URI Safe base64 decoder"
Should be able use String or Substring directly

Thanks,
Mehdi

[2018-01-19 17:53] kdawgwilk opened #61 "Support Swift package manager for server side Swift apps"
I am working on a server side Swift project with Vapor and would like to use Auth0 but I am finding that there is a lack of support for native Swift packages that can run on Linux.  This seems like it could be a great starting point to add support for server side Swift to Auth0 since this doesn't seems to need UIKit

[2018-01-22 21:33] skeer00 opened #62 "Use of unresolved identifier when archive"
I am working in a project where cocopod is not integrated. I downloaded the JWTDecode project and added the JWTDecode.framework into our project. I got the JWTDecode.framework file when I run the sample project added JWTDecode project as cocoapod. So my project works well in simulator, I am able to decode the JWT token and get the claims. But when I trying to build/archive project it gives me an e

[2018-01-22 22:02] cocojoe commented on #61
I've been holding off in general, waiting for some kind of UIKit support. However, for this lib you are right it could probably work for Swift Packager Manager. It's not a priority but I'll take a look at some point, although your welcome to submit a PR.

[2018-03-15 11:18] dj-neza opened #64 "JWT validation"
Hi!
Any plans to extend the library to support JWT validation in Swift as well?

[2018-03-15 11:19] cocojoe commented on #64
What do you mean? It's a swift library.

[2018-03-15 12:00] dj-neza commented on #64
I know, but it only decodes the JWT without verifying it right?

[2018-03-15 12:01] cocojoe commented on #64
I understand your question, can we expand this library to support validation not just decoding?

[2018-03-16 10:42] dj-neza commented on #64
Yes, that's exactly what I've been asking. So is there any possibility of that?

[2018-03-16 11:13] cocojoe commented on #64
There are some plans related around validation, so it is a possibility. However, I can't really tell you anymore than that right now.

[2018-04-12 17:07] DeathByEnnui opened #65 "Claims value nil, but payload seems fine"
I can print out my idToken, cut and paste it into https://jwt.io and I see all my payload data, but when I try to use JWTDecode I'm getting all nil values for my claims.

[code]

Nothing prints and I stick a breakpoint into the debugger I see the claim.value is nil. Looking at `jwt.body` shows my custom attributes in `custom_attributes` Dictionary as expected. Here is an example ID token (signatur

[2018-04-12 17:10] lbalmaceda commented on #65
![image](https://user-images.githubusercontent.com/3900123/38692764-3965d1d4-3e5b-11e8-9ba4-044b00ad1681.png)

The token you shared has those claims nested inside a "custom_attributes" claim.

[2018-04-12 17:46] DeathByEnnui commented on #65
My mistake then. I thought all custom attributes were encoded into the custom_attributes claim, but obviously I was mistaken. Thank you for the clarification.

[2018-04-12 17:46] #65 closed

[2018-05-22 10:34] cocojoe commented on #59
There is an intention to add validation so an `isValid` although this will be a more in depth check than just expiry.

[2018-05-22 10:34] #59 closed

[2018-05-22 10:35] cocojoe commented on #61
I'm going to add this on our internal features to review.

[2018-05-22 10:36] cocojoe commented on #58
Not looked into it, will add on my list of things to evaluate.

[2018-05-22 10:36] cocojoe commented on #60
I'll be doing some house keeping soon, so should clean this up.

[2018-05-22 10:36] #60 closed

[2018-05-22 10:40] cocojoe commented on #64
So yes is the answer, will be starting this soon. 👍

[2018-05-22 10:42] cocojoe commented on #62
We support Carthage and Cocoapods, if you are manually integrating, I can't really help as there are so many possible variables involved.

[2018-05-22 10:42] #62 closed

[2018-06-05 18:43] DeathByEnnui opened #67 "Make Claim.value public"
Right now Claim.value is not public. There is no direct way to pull out something like a Dictionary type directly. The simplest way would be to use .value and cast it, but it's not visible.

[2018-08-10 07:46] suzukieng commented on #67
Agree, we use JWT to transport the users authorizations. This is an array, with the value being a complex type (role, entity)

[2018-08-10 10:56] cocojoe commented on #67
This seems fair, I'm thinking

[code]

[2018-08-10 12:18] suzukieng commented on #67
@cocojoe Feels right! raw implying that you're on your own if you're using it.

[2018-09-09 06:31] alexcurylo opened #70 "Expiry check should be time zone aware"
First time working with JWT here, but looking at the expired check

[code]

That check will be wrong anywhere except GMT, won't it? Shouldn't it convert `Date()` something like this?

[code]

[2018-09-12 13:57] cocojoe commented on #70
Do you have examples of this not working in one of our JWTs?

[2018-09-19 07:55] leolobato opened #72 "Minimum iOS version for 2.1.1?"
The README page mentions iOS 9+ is required, but the Podspec specifies iOS 8.0.0 -- so 2.1.1 will be installed on a project with deployment target less than 9.

Which one is true?

[2018-09-19 08:16] daxe72 opened #73 "Problem with error handling with iOS 10"
Errors.swift

Identifier Name Violation: Enum element name should only contain alphanumeric characters: 'invalidBase64Url(_:)' (identifier_name)

[2018-09-19 08:16] cocojoe commented on #72
The real source of truth is the project itself, which states iOS 8.0. So Podspec is aligned with this. Are you still using iOS 8 as a minimum deploy?

[2018-09-19 08:19] cocojoe commented on #73
Sounds more like SwiftLint, there are no issues linting this Library using latest SwiftLint. Unless you have your own ruleset which overrides this?

[2018-09-19 08:27] daxe72 commented on #73
Ok, I will try with the latest SwiftLint library

[2018-09-19 08:32] daxe72 commented on #73
That solves it.

[2018-09-19 08:41] leolobato commented on #72
Thanks!

Only one of the projects I work at is still at iOS 8 -- but I suspect it should be bumped to iOS 9 soon (since any device that supports iOS 8 also supports iOS 9).

[2018-10-17 06:46] suzukieng commented on #67
@cocojoe any ETA on when we can get this merged?

[2018-10-17 08:53] #67 closed

[2018-10-17 08:54] cocojoe commented on #67
Sorry forgot about this, merged.

[2018-11-13 19:40] davidwellsmith commented on #70
Something must be incorrectly configured on the server if this is necessary.

[2019-03-26 08:55] kimdv opened #85 "Swift 5 support"
In order to efficiently and accurately address your issue or feature request, please read through the template below and answer all relevant questions. Your additional work here is greatly appreciated and will help us respond as quickly as possible. Please delete any sections or questions below that do not pertain to this request.

For general support or usage questions, please user the [Auth0 Com

[2019-03-26 10:15] cocojoe commented on #85
Not tried it yet, is there an actual issue such as compiler error? Thanks

[2019-03-26 11:11] kimdv commented on #85
No no error.
Is is only for benefits of Swift 5

[2019-05-01 14:25] cocojoe commented on #72
This has been bumped to 9.0 now 👍

[2019-05-01 14:25] #72 closed

[2019-05-01 14:26] cocojoe commented on #64
Claims validation was added in https://github.com/auth0/JWTDecode.swift/releases/tag/2.2.0

[2019-05-01 14:26] #64 closed

[2019-05-01 14:26] #73 closed

[2019-05-01 14:26] cocojoe commented on #70
Non issue

[2019-05-01 14:26] #70 closed

[2019-05-01 14:27] cocojoe commented on #85
Added #88

[2019-05-01 14:27] #85 closed

[2019-05-01 14:29] cocojoe commented on #61
I've held off on SPM support waiting for maturity and UIKit support. I feel we are in a better position now with SPM to look at this.

[2019-05-01 14:29] #61 closed

[2019-05-01 14:30] cocojoe commented on #58
Still demand out there for this?

[2019-05-01 14:31] chaseacton commented on #58
Yes, we would still like watch support

[2019-05-13 10:10] jklp commented on #58
Added a pull request here but only for Carthage #91

[2019-06-07 20:31] SlashDevSlashGnoll opened #92 "Swift Package Manger support?"
In order to efficiently and accurately address your issue or feature request, please read through the template below and answer all relevant questions. Your additional work here is greatly appreciated and will help us respond as quickly as possible. Please delete any sections or questions below that do not pertain to this request.

For general support or usage questions, please user the [Auth0 Com

[2019-06-10 11:19] cocojoe commented on #92
I agree with you, it looks like Xcode11 will finally deliver a good SPM story. Will leave this open to track and add internally to feature requests.

[2019-06-10 17:54] SlashDevSlashGnoll commented on #92
Thanks!  Glad to hear it.  I'm looking forward to jettisoning Pods this fall 👍

[2019-09-13 15:22] rosskimes commented on #92
Any update on this now that Xcode 11 GM is out?

[2019-10-09 11:39] sfla commented on #92
Our team would also appreciate this!

[2019-10-14 09:19] shayneoneill commented on #58
And Catalyst support

[2019-10-16 12:18] frederic-c-dcode commented on #92
Mee too

[2019-10-20 15:56] cocojoe commented on #92
It's on the cards, would like to add SPM support to all our iOS libs, sorry I don't have an ETA right now.

[2019-10-21 12:34] #58 closed

[2019-11-26 13:00] #92 closed

[2020-01-23 14:32] mali1989 opened #103 "Version missing in JWT podscpec 2.4.0 on Github"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Please read through the template below and answer all relevant questions. Your additional work here is greatly appreciated and will help us respond as quickly

[2020-01-23 14:53] Widcket commented on #103
Hi @mali1989, the version number is generated by the [command on line 1](https://github.com/auth0/JWTDecode.swift/blob/44895b4888a252c74cb4f945f1cee09b907a9f8e/JWTDecode.podspec#L1).

[2020-01-23 14:53] #103 closed

[2020-02-14 23:45] radg1596 opened #105 "Support for timestamp expiration date with milliseconds ( 13 digits)"
The computed property "expired" in the class JWT, only works when the number of timestamp expiration digits are 10. Sometimes the backend generates a timestamp with 13 digits (including milliseconds), and this property is always returns false.

Example
let jsonWebToken = try decode(jwtWithUnixExp: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE

[2020-02-17 16:16] Widcket commented on #105
Hi @radg1596, thanks for reaching out. The library [is already using](https://github.com/auth0/JWTDecode.swift/blob/master/JWTDecode/JWTDecode.swift#L119) `Date(timeIntervalSince1970:)` to convert the `Double` Unix timestamp to a `Date`. That initializer expects seconds, so if you have milliseconds you need to convert them first.

[2020-02-17 16:16] #105 closed

[2020-04-23 11:28] dolzhenko-tony commented on #92
<img width="628" alt="Screenshot 2020-04-23 at 14 14 17" src="https://user-images.githubusercontent.com/5227857/80094142-6e33b280-856e-11ea-9a80-24ee96497a89.png">

Test target dependencies not installing if SSH used.  Receiving `Authentication failed because no credentials were provided`. Might be Xcode issue, but probably anybody else had this.

[2020-04-23 11:37] dolzhenko-tony opened #109 "Test target dependencies failed to install via SSH"
By submitting an Issue to this repository, you agree to the terms within the [Auth0 Code of Conduct](https://github.com/auth0/open-source-template/blob/master/CODE-OF-CONDUCT.md).

### Description

<img width="628" alt="Screenshot 2020-04-23 at 14 14 17" src="https://user-images.githubusercontent.com/5227857/80094848-a4256680-856f-11ea-91aa-3e3c8845b709.png">

Test target dependencies not installi

[2020-04-24 23:20] Widcket commented on #109
Hi @denys-meloshyn, that looks like a configuration issue on your end. You can try `git config --global url."git@github.com:".insteadOf "https://github.com/"`.

[2020-04-24 23:20] #109 closed

[2020-04-25 14:12] dolzhenko-tony commented on #109
@Widcket  thanx for reply, I had config file corrupted

[2020-09-17 22:33] ksullivan1-chwy opened #112 "Tag 9.9.9 breaks SwiftPM version support"
SwiftPM uses tags conforming to semver to determine release builds. The 9.9.9 tag breaks this scheme, can you please delete it?

[2020-09-18 09:47] SergejLogis opened #113 "JWTDecode fails to build with Swift 5.3 (Xcode 12)"
### Describe the problem

`JWTDecode` build fails in Xcode 12.0 GM (both from IDE and by using Command Line Tools)

### What was the expected behavior?

`JWTDecode` build successful.

### Reproduction

`JWTDecode` is mandatory dependency of `Auth0.swift` library. Issue was observed while trying to build `Auth0.swift` with Swift 5.3 compiler:
1. Swifch to Xcode 12 Command Line tools.
2. Checkout `A

[2020-09-18 18:06] Widcket commented on #113
@SergejLogis the JWTDecode.swift framework itself does not have dependencies, the only dependencies are for the test target that will not build under Xcode 12 because Nimble. You could just clone this repo, open it with Xcode and build the framework target and it will build just fine. Then you can build it for release, and then link it to your app.

[2020-09-18 18:15] Widcket commented on #113
You would only need to do `carthage bootstrap` if you want to run the tests.

[2020-09-18 19:04] Widcket commented on #113
The error you're seeing with Carthage is due to this issue: https://github.com/Carthage/Carthage/issues/3019
There is a workaround posted in the comments: https://gist.github.com/skymobilebuilds/61f4a95bd62a3db36b52719aeab7e0d5

[2020-09-18 19:10] Widcket commented on #112
Hi @ksullivan1-chwy, you can use [upToNextMajor](https://developer.apple.com/documentation/swift_packages/package/dependency/requirement/2878218-uptonextmajor) to keep SwiftPM from picking up a new major (the 9.9.9 tag was created for testing purposes and would represent a different "major" under SemVer).

[2020-09-18 19:10] #112 closed

[2020-09-21 07:10] SergejLogis commented on #113
Thank you very much! Carthage workaround did the trick! 🙇‍♂️ 🙏

[2020-09-21 13:30] SergejLogis commented on #113
I have added Carthage workaround, and all dependencies were built successfully. However, when I run project either on Simulator or on device I'm getting the following error:
[code]
Any ideas why is there absolute path hardcoded somewhere in the repo? 🤔 Quick search in `Carthage/Checkouts` reveals that it also presents in multiple places in `SimpleKeychain` library. I'm using Auth0 1.28.0 from GitH

[2020-09-21 13:47] Widcket commented on #113
@SergejLogis the 9.9.9 tags were created by me for test purposes. Unfortunately, the Cartfile in Auth0.swift does not pin the dependencies to the current major version, so it ended up getting those tags. I've deleted them; and will pin the dependencies in the next release of Auth0.swift.

[2020-09-21 13:50] SergejLogis commented on #113
Thanks! Is there a way to resolve my issue in current Auth0 version (1.28)? 🤔

[2020-09-21 14:31] Widcket commented on #113
Clean Derived Data and rebuild.

[2020-10-17 21:39] Widcket commented on #113
Closing as this is a Carthage issue.

[2020-10-17 21:39] #113 closed

[2021-02-17 09:28] Elamuruga opened #124 "Handling milliseconds value comes in String"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/responsible-disclosure-policy) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Please read through the template below and answer all relevant questions. Your additional work here is greatly appreciated and will help u

[2021-02-17 20:12] Widcket commented on #124
Hi @Elamuruga, to get the value of the `exp` claim, you can use `jwt.expiresAt`(returns a `Date?`) or `jwt.claim(name: "exp").date`(returns a `Date?` as well).
Does that help?

[2021-03-06 11:35] Widcket commented on #124
Closing this one, ping me if you still need help with this.

[2021-03-06 11:35] #124 closed

[2022-02-17 09:50] borut-t opened #137 "M1 compatibility"
### Describe the problem you'd like to have solved
Compatibility for M1 macs.

### Describe the ideal solution
Be able to compile on M1 macs for simulator.

## Alternatives and current work-arounds
Run Xcode on Rosseta or run directly on the device.

### Additional context
`Could not find module 'JWTDecode' for target 'x86_64-apple-ios-simulator'; found: arm64, arm64-apple-ios-simulator, at: /User

[2022-03-17 07:35] borut-t commented on #137
Hey @Widcket, the issue is still there. I'm using SPM.

[2022-03-17 14:29] Widcket commented on #137
@borut-t unfortunately I don't have an M1 mac around to test with. Does the issue persist if you use `ARCHS[sdk=iphonesimulator*] = $(NATIVE_ARCH_ACTUAL)` in the affected library/libraries?

[2022-04-06 11:44] poovamraj commented on #137
Hey @borut-t, We tried to reproduce this issue on an M1 Mac and we were not able to reproduce it while making Xcode run in both Rosetta and normal mode. Can you provide us with more information on how to reproduce this issue?

[2022-04-15 10:35] borut-t commented on #137
Hey @poovamraj. I have your dependency in my project and for some reason doesn't compile on the simulator with the following error: `Could not find module 'JWTDecode' for target 'x86_64-apple-ios-simulator';`.

I was able to compile it without a problem on a clean test project. So I need to dig deeper in order to understand why this is happing on my project but not on a test one.

I'll let you kno

[2022-04-29 23:04] Widcket commented on #137
@borut-t seems like you're no longer experiencing this issue. I'll close this one, please let me know if you'd prefer to reopen or have any further questions.

[2022-04-29 23:04] #137 closed

[2022-06-24 23:10] Widcket opened #171 "Next JWTDecode.swift major release"
Hello! 👋

Today we published the JWTDecode.swift 3.0.0 [First Availability release](https://github.com/auth0/JWTDecode.swift/releases/tag/3.0.0-fa).

**The GA release is planned for the third week of July.**

### Summary

- Dropped support for Objective-C.
- Dropped support for older platform and Swift versions.
- Removed ID token validator.
- Added a convenience subscript for accessing claims.
-

[2022-07-04 23:36] evansims commented on #171
🤖 Commenting to filter for internal tooling. Please disregard.

[2022-07-21 02:43] Widcket commented on #171
The v3 release is out now! https://github.com/auth0/JWTDecode.swift/releases/tag/3.0.0

[2022-07-21 02:43] #171 closed

[2022-07-29 09:50] SatishKishorbhai opened #183 "Package resolution failed"
### Checklist

- [X] I have looked into the [README](https://github.com/auth0/JWTDecode.swift#readme) and have not found a suitable solution or answer.
- [X] I have searched the [issues](https://github.com/auth0/JWTDecode.swift/issues) and have not found a suitable solution or answer.
- [X] I have searched the [Auth0 Community](https://community.auth0.com/tags/c/sdks/5/jwt) forums and have not fou

[2022-07-29 13:44] Widcket commented on #183
Hi @SatishKishorbhai, thanks for raising this. I just created a new app, and installed JWTDecode.swift, then built the app successfully:

https://user-images.githubusercontent.com/5055789/181773263-8e51f470-efca-4951-bc46-cc692a12f14a.mov

[2022-08-01 12:52] SatishKishorbhai commented on #183
@Widcket can you please check with Xcode 12.4

[2022-08-01 12:53] Widcket commented on #183
Xcode 12.x is not supported anymore.

[2022-08-01 13:04] SatishKishorbhai commented on #183
https://user-images.githubusercontent.com/91555423/182154120-af271b93-cec6-4e07-901b-96f5db11c3cf.mov

[2022-08-01 13:08] Widcket commented on #183
"contains incompatible tools version" is because the [Package.swift requires](https://github.com/auth0/JWTDecode.swift/blob/master/Package.swift#L1) at least Swift 5.5, which was introduced with Xcode 13.0.

[2022-08-01 13:09] Widcket commented on #183
That seems to clarify the issue. As mentioned, Xcode 12.x is not mentioned anymore. I'll close this issue, please feel free to ping if you'd prefer to reopen.

[2022-08-01 13:09] #183 closed